* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    background-color: #FAF6E8;
    /*max-width: 100%;
    margin: 0 80px;*/
}

header {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    /*border: 1px solid black;*/
    transition: background-color 0.8s;
}

header:hover {
    background-color: blue;
}

.header_home {
    background-color: inherit;
}

.header_aboutMe {
    background-color: aquamarine;
}

body {
    /*border: 1px solid black;*/
    width: 90%;
    margin: 0 auto;
}

.welcomeTitle {
    text-align: center;
    /*border: 1px solid black;*/
}

#waveHand {
    width: 40px;
    height: 40px;
}

.mainText {    
    text-align: center;
    font-size: 22px;
    margin: 0 15%;
}

.links {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    /*position: absolute;*/
    /*border: 1px solid black;*/
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .icons {
      flex-direction: column;
    }
}

.icon {
    font-size: 32px;
}

#aboutMeIcon {
    width: 70px;
}