* {
    box-sizing: border-box;
    background-color: #FAF6E8;
    font-family: 'Source Code Pro', monospace;
    /*max-width: 100%;*/
    /*margin: 0 80px;*/
}

header {
    display: flex;
    justify-content: center;
}

body {
    border: 1px solid black;
    width: 80%;
}

.welcomeTitle {
    display: inline-block;
}

#waveHand {
    width: 40px;
    height: 40px;
}

.mainText {    
    text-align: center;
    font-size: 22px;
    margin: 0 15%;
}

.links {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    /*position: absolute;*/
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    .icons {
      flex-direction: column;
    }
}

.icon {
    font-size: 32px;
}

#aboutMeIcon {
    width: 70px;
}