* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    background-color: #FAF6E8;
    /*max-width: 100%;
    margin: 0 80px;*/
}

header {
    padding: 20px 0px 5px;
    /*border: 1px solid black;*/
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav li {
    margin-right: 80px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
  .header_home {
    background-color: inherit;
}

.header_aboutMe {
    background-color: aquamarine;
}*/

body {
    /*border: 1px solid black;*/
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    nav li {
      margin: 10px 20px; /* Reduce margin for smaller screens */
    }
    body {
        width: 100%; /*Goes back to regular width for smaller screens*/
    }
}

.welcomeTitle {
    text-align: center;
    /*border: 1px solid black;*/
}

#waveHand {
    width: 40px;
    height: 40px;
}

.mainText {    
    text-align: center;
    font-size: 22px;
    margin: 0 15%;
}

.row1 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    /*position: absolute;*/
    /*border: 1px solid black;*/
    margin: 70px auto;
}

.row2 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    /*position: absolute;*/
    /*border: 1px solid black;*/
    margin: auto auto;
}

.icon {
    font-size: 32px;
    width: 70px;
}